// Placeholders
%list {
    list-style: none;
}

%link {
    text-decoration: none;
    color: currentColor;
}

%title {
    font-family: getFont(accent);
    font-size: 34px;
    @include lh(39px, 34px);
    letter-spacing: 0.04em;
    text-align: center;
    text-transform: uppercase;
    color: getColor(accent);

    @include bpoint(tablet) {
        font-size: 48px;
        @include lh(55px, 48px);
    }

    @include bpoint(desktop) {
        font-size: 58px;
        @include lh(66px, 58px);
        letter-spacing: 0.06em;
    }
}

%caption {
    font-family: getFont(accent);
    font-size: 18px;
    @include lh (21px, 18px);
    text-align: center;
    text-transform: uppercase;
    color: getColor(active-accent);

    @include bpoint(tablet) {
        font-size: 26px;
        @include lh(30px, 26px);
    }

    @include bpoint(desktop) {
        font-size: 30px;
        @include lh(34px, 30px);
        letter-spacing: 0.04em;
    }
}