@keyframes slide-top {
    from {
        transform: translateY(-5px);
    }

    to {
        transform: translateY(5px);
    }
}

@keyframes ice-cream {
    from {
        transform: translateY(100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes girl {

    0% {
        transform: translateX(110%);

    }

    50% {
        transform: translateX(-10%);

    }

    70% {
        transform: translateX(10%);

    }

    100% {
        transform: translateX(0);

    }

}

@keyframes reveal {
    80% {
        letter-spacing: 8px;
    }

    100% {
        background-size: 600% 600%;
    }
}

@keyframes glow {
    40% {
        text-shadow: 0 5px 0 getColor(active-accent);
    }
}